.genre
  %ul.genre__list
    %li#recommend.genre__list--box
      %label オススメ
      = link_to "Recommend"
    %li#appetizer.genre__list--box
      %label 前菜
      = link_to "Appetizer"
    %li#dish.genre__list--box
      %label 一品料理
      = link_to "Dish"
    %li#main.genre__list--box
      %label メイン
      = link_to "Main"
    %li#desert.genre__list--box
      %label デザート
      = link_to "Desert"
    %li#drink.genre__list--box
      %label ドリンク
      = link_to "Drink"
    