.background-image{style: "background: url(/background3.jpg);"}
  = render "header"
  .contents
    .contents__image
      = image_tag @menu.img 
    .contents__image__text
      = @menu.name
      .contents__image__text__price
        ¥
        = @menu.price
    .contents__order--btn
      = link_to "注文"
    %h4 ＜口コミ一覧＞
    .contents__comments
      - if @comments
        - @comments.each do |comment|
          %p.contents__comments__box
            <
            = comment.id
            >
            = comment.text
          %p.contents__comments__box--date
            = comment.created_at
      .contents__comments__container
        = form_for( [@menu, @comment],local: true, id: "new_comment") do |f|
          = f.text_field :text, class: 'contents__comments__container__comment', placeholder: '口コミを書き込んでください'
          = f.submit "SEND", class: 'contents__comments__container__send'