- if notice
  %p#notice= notice
%br
  %h1 会計メニュー
  %h2 ご注文一覧
  %br
    %span
    = link_to '買い物を続ける', menus_path, :class => 'btn'
    %span
      %br
        %br
          %table
            %tr
              %th
                商品名
              %th
                価格
              %th
                数量
              %th
                
            - @cart_items.each do |item|
              %tr
                %td
                  %font{size: "4"}
                  = item.menu.name
                %td
                  %font{size: "4"}
                  = (item.menu.price).to_s(:delimited)
                %td
                  %font{size: "4"}
                  = item.quantity
                %td
                  %font{size: "4"}
                  = button_to "+"
            %tr
              %td
                %font{size: "5"}
                  Total: 
                  #{@total.to_s(:delimited)}
                  円
  %br
  = button_to 'カートを空にする'
